#guessinggame {
	width:350px;
	height:400px;

	margin: 100px auto;
	padding: 20px 20px 9px;

	background:#00b300;
	
	border-radius: 3px;
	box-shadow: 3px 3px #008000, 10px 10px 15px rgba(0,0,0,0.7);
}

.title {
	font-size: 25px;
	color: #d9d9d9;
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	text-shadow:0px 1px 1px #4d4d4d;
}

.screen {
	
	height:175px;
	width:280px;

	margin:auto;
	margin-top:20px;

	background: rgba(0,0,0,0.2);
	border-radius:3px;
	box-shadow: inset 2px 2px rgba(0,0,0,0.2);
}

h3 {
	position: relative;
	text-align: center;
	padding-top:60px;

}

.guessingbox {
	margin: 0px auto;
	padding:20px;
	width:280px;
}

#guessinginput {
	height:30px;
	text-align:center;
	font-size:12px;
	border: 1px dotted black;
	background-color: #d9d9d9;
}

#submit {
	float: right;
	width:125px;
	height:35px;
	border-radius: 5px
}

.buttons {
	padding:10px;
	width:150px;
	margin:auto;
}

#hint {
	width:65px;
	height:30px;
	border-radius: 5px

}
#reset {
	width:65px;
	height:30px;
	border-radius: 5px;
	float:right;

}
#hintbox {
	text-align: center;
	margin: auto;
}

h4 {
	margin: 0px;
	color: #d9d9d9;
	text-shadow:1px 1px 1px #4d4d4d;
}

h6 {
	text-align:center;
	margin: 0px;
}

#gameover{
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
}

.message{
	height:200px;
	width:auto;
	margin-top:200px;
}



















